<h1>ランキング</h1>
<table>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= attachment_image_tag user, :profile_image, :fill, 50, 50, format: 'jpeg', fallback: "no_image.jpg" %></td>
      <td>
        <%= link_to user_path(user) do %>
        <%= user.name %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>