<main class="main-v"></main>

<div class="container-fluid bg-light h1" style="height: 300px;">
  <p class="h-100 justify-content-center d-flex align-items-center">緩く楽しく自由に走るランナーのためのサイトです。</br>
  </p>
</div>