<main class="main-v"></main>

<div class="container texts-wrapper bg-light">
<h2 class="text-center mt-2">コース一覧</h2>
<div class="row mt-2">
<% @courses.each do |course| %>
<div class="col-lg-4 mb-2">
  <div class="card m-auto" style="width: 300px">
    <% if course.course_images.present? %>
      <% course.course_images.first(1).each do |image| %>
        <%= attachment_image_tag image, :image, :fill, 300, 200, class: "card-img-top" %>
      <% end %>
    <% else %>
      <%= image_tag 'map.png', size: '300x200' %>
    <% end %>
    <div class="card-body">
      <div class="card-title">
        <%= link_to course_path(course) do %>
          <p><%= course.title %></p>
        <% end %>
      </div>
    </div>
</div>
</div>
<% end %>
</div>
</div>
