<div id='map'></div>

<style>
  #map{
    height: 500px;
    width: 500px;
  }
</style>

<script>
  function initMap(){
    let map = new google.maps.Map(document.getElementById('map'), {
      center: { lat: 35.728926, lng: 139.71038},
      zoom: 12
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY'] %>&callback=initMap" async defer></script>
